<ion-header>
  <ion-toolbar>
    <ion-title>Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-label for="nombre">Nombre:</ion-label>
    <ion-input type="text" [(ngModel)]="nombre" placeholder="Escribir aquí..."></ion-input>
    <ion-label for="apellidos">Apellidos:</ion-label>
    <ion-input type="text" [(ngModel)]="apellidos" placeholder="Escribir aquí..."></ion-input>
    <ion-label for="dni">DNI:</ion-label>
    <ion-input type="text" [(ngModel)]="dni" placeholder="Escribir aquí..."></ion-input>
    <ion-label for="fechaNacimiento">Fecha de nacimiento:</ion-label>
    <ion-input type="date" [(ngModel)]="fechaNacimiento" placeholder="Escribir aquí..."></ion-input>
    <ion-label for="telefono">Teléfono:</ion-label>
    <ion-input type="text" [(ngModel)]="telefono" placeholder="Escribir aquí..."></ion-input>
    <ion-label for="email">Email:</ion-label>
    <ion-input type="text" [(ngModel)]="email" placeholder="Escribir aquí..."></ion-input>
    <ion-label for="pass">Contraseña:</ion-label>
    <ion-input type="password" [(ngModel)]="pass" placeholder="Escribir aquí..."></ion-input>
  
  
  <ion-button (click) = "editProfile()" id="botonRegistrar">Editar Perfil</ion-button>
</ion-content>
