<ion-header translucent no-border>
  <ion-toolbar>
      <button ion-button slot="start">
        <ion-back-button></ion-back-button>
      </button>
      <title>Aforo actual</title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" class="aforo-card">
    <div class="aforo">

        <ion-card>
          <ion-card-content>
            <ion-card-title>El aforo actual del gimnasio es de</ion-card-title>
            <ion-card-subtitle>{{aforoActual}} personas</ion-card-subtitle>
          </ion-card-content>
        </ion-card>

    </div>
</ion-content>
