<ion-header translucent no-border>
  <ion-toolbar>
        <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" class="aforo-card">
    <div class="aforo">

        <ion-card>
          <ion-card-content>
            <ion-card-title>El aforo actual del gimnasio es de</ion-card-title>
            <ion-card-subtitle>{{aforoActual}}</ion-card-subtitle>
            <ion-card-subtitle>personas</ion-card-subtitle>
          </ion-card-content>
        </ion-card>

    </div>
</ion-content>
