<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Escanear QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button id="boton-qr" color="danger" (click)="scanBRcode()" expand="block">
    {{labelBoton}}
  </ion-button>

  <div style="text-align: center;">

    <br>
    {{mensajito}}
    <br><br><br>

    <img id="imagen-exito" src="../../assets/exito.png" 
    width="200px" height="200px">
  
    <img id="imagen-fracaso" src="../../assets/fracaso.png"
    width="200px" height="200px">

    {{calculo}}
    <br><br>

    <div id="coste-total">
      {{costeTotal}} €
    </div>

  </div>

</ion-content>
