<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Elegir Rutina
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" class="rutinas">

  <div class="rutinas">

   <ion-button *ngFor="let rutina of rutinas" (click) = mostrarRutina(rutina.nombreRutina)>{{rutina.nombreRutina}}</ion-button>
  
    <div class="ejercicios"> 
      <ul *ngFor="let ejercicio of listaEjercicios">
        <li>Ejercicio: {{ejercicio.NombreEjercicio}}</li>
        <li>Repeticiones: {{ejercicio.SeriesRepeticiones}}</li>  
      </ul>
    </div>

  </div>
</ion-content>