<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Añadir Rutina
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label for="nombreRutina">Nombre Rutina:</ion-label>
  <ion-input type="text" name="nombreRutina" [(ngModel)]="nombreRutina" placeholder="Escribir aqui..."></ion-input>
  <ion-label for="Ejercicio">Ejercicio:</ion-label>
  <ion-input type="text" name= "nombreEjercicio" [(ngModel)]=".ejercicio.nombreEjercicio" placeholder="Escribir aquí..."></ion-input>
  <ion-label for="SeriesRepeticiones">Series X Repeticiones:</ion-label>
  <ion-input type="text" name= "SeriesRepeteciones" [(ngModel)]="ejercicio.SeriesRepeticiones" placeholder="Escribir aquí..."></ion-input>

  <ion-button (click) = "AddExercise">Añadir Ejercicio</ion-button>
  <ion-button (click) = "SaveRoutine()">Añadir Rutina</ion-button>

</ion-content>
